html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
                
header > h1 {
  text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid grey;
  padding: 2em 1em;
  
  display: none;
}
                
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}
                
.form-row > label {
  width: 100px;
}
                
.form-row > input {
  padding: .5em;
  flex-grow: 1;
}

.bgNav{
  background-color:#FFF8E8;
}

.bgNav > nav{
  background-color:#3944bc;
}





.image1{
    margin-top:30px;
    margin-left:5px;
    width:140px;
  }
  
  td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.delButton {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid lighten(gray, 24%);
  height: 48px;
  padding: 0 24px 0 16px;
  letter-spacing: .25px;
  border-radius: 24px;
  cursor: pointer;
  
  &:focus {
    outline: none;
  }